/* select {
  color: $clr-white;
  background: $clr-primary;
  padding: 0.8rem 2rem 0.8rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  margin: 0 0 0 1rem;
  border: 0;
}

.custom-select {
  position: relative;
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: $clr-primary;
  height: 100%;
  width: 1.5rem;
  pointer-events: none;
}

.custom-arrow::before {
  content: "v";
  color: $clr-white;
  font-family: inherit;
  position: absolute;
  top: 0.6rem;
  right: 0.5rem;
} */

/* 

.custom-select {
  position: relative;
  width: 9rem;
  margin-left: 1rem;
}

.custom-select select {
  display: none; 
}

.select-selected {
  background-color: $clr-primary;
  border-radius: 4px;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 1rem;
  right: 0.5rem;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: $clr-white transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent $clr-white transparent;
  top: 7px;
}

.select-items div,
.select-selected {
  color: $clr-white;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: $clr-primary;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
} */
