/* Colors */
$clr-white: white;
$clr-black: black;
$clr-primary: #901c1c;
$clr-secondary: #d3573c;
$clr-secondary-bg: #db8876;
$clr-lightest-grey: #fafafa;
$clr-light-grey: #cecece;
$clr-dark-grey: #525252;
$clr-darker-grey: #353535;

/* Sizes */
$pp-size: 10rem;
$pp-big-size: 12rem;

$pic-width: 25rem;
$pic-height: 20rem;
$pic-radius: 0.5rem;
