/* Custom Colors */
/* TODO: coherence */
$light-grey: #f6f6f6;
$dark-grey: #eaeaea;
$darker-grey: rgb(102, 102, 102);
$darkest-grey: #353535;
$white: white;
$primary-light: #f5ebff;
$green-light: #99e2d0;
$green: #1c987a;

/* Model Colors */
$primary: #9356dc;
$secondary: #ff79da;
$terciary: #99e2d0;

/* Other */
$bottom-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.75);
$bottom-shadow-more: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);

/* Mixins */
@mixin heart-effect {
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  color: $primary;
  transition: transform 0.8s ease-in-out, opacity 0.6s ease-in-out,
    visibility 0.6s ease-in-out;
  transform-origin: bottom;
}
