@import "./variables";

.location {
  margin-top: 4rem;
  background: $dark-grey;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    margin-right: 1rem;
  }
}

.hero {
  background: $light-grey;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;

  h1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  p {
    margin: 1.8rem;
    color: $darker-grey;
    font-size: 1.1rem;
  }
}

h2 {
  padding: 2.5rem 0 1.5rem 0.8rem;
  font-size: 1.3rem;
}

.step {
  padding: 1.5rem 1rem;
  margin: 1rem;
  background: $light-grey;
  border-radius: 2rem;
  box-shadow: $bottom-shadow;

  i {
    position: relative;
    left: -0.4rem;
    color: $darker-grey;
  }

  p {
    display: inline;
    margin: 0.6rem;
  }

  &__number {
    position: relative;
    left: -1.4rem;
    top: 0.1rem;
    color: $white;
    background: $primary;
    padding: 0.2rem 0.45rem;
    border-radius: 50%;
  }

  &__active {
    background: $primary-light;

    i {
      color: $primary;
    }
  }
}

.restaurants {
  background: $light-grey;
  padding-bottom: 5vh;

  .card {
    background: $white;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: $bottom-shadow;

    &__img {
      width: 100%;
      height: 10rem;
      object-fit: cover;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
    }

    &__sticker {
      display: inline;
      position: absolute;
      right: 2.5rem;
      color: $green;
      background: $green-light;
      padding: 0.4rem 2rem;
      font-weight: bold;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;

      &__text {
        margin: 1rem;
        h3,
        p {
          margin: 0.1rem;
          padding: 0.1rem;
        }
        p {
          color: $darker-grey;
        }
      }

      i {
        color: $darker-grey;
        margin: 1.3rem;
      }

      .far {
        transition: visibility 3s;
        opacity: 1;
        transition: opacity 1s ease-in-out;
        &:hover {
          opacity: 0;
        }
        &:hover + .fas {
          visibility: visible;
          transform: scale(1);
          opacity: 1;
        }
      }

      .fas {
        right: 1rem;
        @include heart-effect;
      }
    }
  }
}

.loader {
  display: inline-block;
  position: fixed;
  background: $white;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  animation: hide-loader 2.5s cubic-bezier(0.48, 0.26, 0.4, 1.1) forwards;
  padding: 45%;
}

.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $primary;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $primary transparent transparent transparent;
}

.loader div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hide-loader {
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}
