/* Custom Colors */
/* TODO: coherence */
/* Model Colors */
/* Other */
/* Mixins */
.location {
  margin-top: 4rem;
  background: #eaeaea;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location i {
  margin-right: 1rem;
}

.hero {
  background: #f6f6f6;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}

.hero h1 {
  font-size: 1.5rem;
  margin-top: 0;
}

.hero p {
  margin: 1.8rem;
  color: #666666;
  font-size: 1.1rem;
}

h2 {
  padding: 2.5rem 0 1.5rem 0.8rem;
  font-size: 1.3rem;
}

.step {
  padding: 1.5rem 1rem;
  margin: 1rem;
  background: #f6f6f6;
  border-radius: 2rem;
  box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.75);
}

.step i {
  position: relative;
  left: -0.4rem;
  color: #666666;
}

.step p {
  display: inline;
  margin: 0.6rem;
}

.step__number {
  position: relative;
  left: -1.4rem;
  top: 0.1rem;
  color: white;
  background: #9356dc;
  padding: 0.2rem 0.45rem;
  border-radius: 50%;
}

.step__active {
  background: #f5ebff;
}

.step__active i {
  color: #9356dc;
}

.restaurants {
  background: #f6f6f6;
  padding-bottom: 5vh;
}

.restaurants .card {
  background: white;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.75);
}

.restaurants .card__img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.restaurants .card__sticker {
  display: inline;
  position: absolute;
  right: 2.5rem;
  color: #1c987a;
  background: #99e2d0;
  padding: 0.4rem 2rem;
  font-weight: bold;
}

.restaurants .card__bottom {
  display: flex;
  justify-content: space-between;
}

.restaurants .card__bottom__text {
  margin: 1rem;
}

.restaurants .card__bottom__text h3,
.restaurants .card__bottom__text p {
  margin: 0.1rem;
  padding: 0.1rem;
}

.restaurants .card__bottom__text p {
  color: #666666;
}

.restaurants .card__bottom i {
  color: #666666;
  margin: 1.3rem;
}

.restaurants .card__bottom .far {
  transition: visibility 3s;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.restaurants .card__bottom .far:hover {
  opacity: 0;
}

.restaurants .card__bottom .far:hover + .fas {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

.restaurants .card__bottom .fas {
  right: 1rem;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  color: #9356dc;
  transition: transform 0.8s ease-in-out, opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
  transform-origin: bottom;
}

.loader {
  display: inline-block;
  position: fixed;
  background: white;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  animation: hide-loader 2.5s cubic-bezier(0.48, 0.26, 0.4, 1.1) forwards;
  padding: 45%;
}

.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #9356dc;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #9356dc transparent transparent transparent;
}

.loader div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hide-loader {
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}
/*# sourceMappingURL=index.css.map */